RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
RewriteRule ^(composer\.json|composer\.lock|\.env|\.gitignore|vendor|\.git) - [F,L,NC]